<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body class="layout1" style="background-image: url('/images/headers/header_about_us.jpg')">
    <div id="container" style="padding-top: 303px">
  
      <div id="content">
        <h1>Testimonials</h1>
        {{ range .Site.Params.testimonials }}
          <p>&ldquo;{{ .content }}&rdquo;</p>
          <h3>&mdash; {{ .author }}</h3>
	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
        {{ end }}
      </div>
  
      <br class="cb"/>
  
  {{- partial "header.html" . -}}
    </div>
  {{- partial "footer.html" . -}}
  </body>
</html>
