<div id="footer">
  <div id="footer_inner">    

    <div class="footer_column">
      <div class="footer_title">
        <a href="/payment-processing-services/gateway">Payment Processing Services</a>
      </div>
      <ul>
        <li class="first"><a href="/payment-processing-services/hosted-form">Hosted Form</a></li>
        <li><a href="/payment-processing-services/hosted-page">Hosted Page</a></li>  
        <li><a href="/payment-processing-services/shopping-carts">Shopping Carts</a></li>
        <!-- <li><a href="/rocketpay/index">RocketPay</a></li> -->
        <li><a href="/payment-processing-services/affiliate-tracking">Affiliate Tracking</a></li>
        <li><a href="/payment-processing-services/prevent-chargebacks">Prevent Chargebacks</a></li>
        <li><a href="/payment-processing-services/vpos-virtual-point-of-sale">VPOS (Virtual Point-of-Sale)</a></li>
      </ul>
      <div class="footer_title">Resources</div>
      <ul>
        <li class="first"><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="https://apod.nasa.gov">NASA Picture of the Day</a></li>
      </ul>
    </div>

    <div class="footer_column">
      <div class="footer_title">
        <a href="/features/advanced-processing">Features</a>
      </div>
      <ul>
        <li class="first"><a href="/features/recurring-billing">Recurring Billing</a></li>
        <li><a href="/features/automated-chargeback-processing">Automated Chargeback Processing</a></li>
        <li><a href="/features/pci-compliant">PCI Compliant</a></li>
        <li><a href="/features/advanced-processing">Advanced Processing</a></li><li><a href="/features/advanced-reporting.php.html">Advanced Reporting</a></li>
        <li><a href="/features/multiple-currencies">Multiple Currencies</a></li><li><a href="/features/merchant-support-tools.php.html">Merchant Support Tools</a></li>
        <li><a href="/features/risk-management">Risk Management</a></li>
      </ul>
    </div>

    <div class="footer_column">
      <div class="footer_title">The RocketGate&reg; Experience</div>
      <div id="testimonials">
        <!-- TODO: Pull random testimonial from list -->
        <blockquote>"I have been using Rocketgate as MojoHost's merchant gateway since 2007 and been tremendously happy. They are fully integrated with a large number of banks.  RocketGate also has incredible merchant customer service that I have experienced first hand..." <a href="/about-us/testimonials" title="See more testimonials">more »</a></blockquote>
        <cite>&ndash; Brad Mitchell, CEO, MojoHost</cite>
      </div>
    </div>
    
    <div class="footer_column" style="margin-right: 0px">
      <div class="footer_title">
        <a href="https://help.rocketgate.com/support/tickets/new">Contact Us</a>
      </div>
      <div id="footer_slogan">Harness the power of rocket science to propel your business higher than ever!</div>
    </div>

    <!-- TODO: Automatically update copyright year -->
    <div id="copyright">&copy; 2024 RocketGate&reg; - All rights reserved</div>

  </div>
</div>
    
<script type="text/javascript">
//<![CDATA[
  $(document).ready(function() {
    //var test = $("#section_title span").width();
    //$("#section_title").css("background-position", test+"px 18px");
    $("#section_title").css("background-position", ($("#section_title span").width()*.97)+"px 18px");
  });
//]]>
</script>

<script type="text/javascript" src="{{ .Site.BaseURL }}/js/1.js" async></script>
