<div id="header" class="header_subnav">
  <a href="/index.html"><img src="{{ .Site.BaseURL }}/images/logo_rocketgate.png" width="260" height="112" id="logo" alt=""/></a>
                             
  <ul id="nav">
  
    <li id="nav2" class="first"><a href="/payment-processing-services/gateway">Payment Processing Services</a>
      <ul>
        <li class="first"><a href="/payment-processing-services/hosted-form">Hosted Form</a></li>
        <li><a href="/payment-processing-services/hosted-page">Hosted Page</a></li>
        <li><a href="/payment-processing-services/shopping-carts">Shopping Carts</a></li>
        <!-- <li><a href="/rocketpay/index">RocketPay</a></li> -->
        <li><a href="/payment-processing-services/affiliate-tracking">Affiliate Tracking</a></li>
        <li><a href="/payment-processing-services/prevent-chargebacks">Prevent Chargebacks</a></li>
        <li><a href="/payment-processing-services/vpos-virtual-point-of-sale">VPOS</a></li>
      </ul>
    </li>
  
    <li id="nav3"><a href="/features/advanced-processing">Features</a>
      <ul>
        <li class="first"><a href="/features/recurring-billing">Recurring Billing</a></li>
        <li><a href="/features/automated-chargeback-processing">Chargeback Processing</a></li>
        <li><a href="/features/pci-compliant">PCI Compliant</a></li>
        <li><a href="/features/advanced-processing">Advanced Processing</a></li>
        <li><a href="/features/advanced-reporting">Advanced Reporting</a></li>
        <li><a href="/features/multiple-currencies">Multiple Currencies</a></li>
        <li><a href="/features/merchant-support-tools">Merchant Support Tools</a></li>
        <li><a href="/features/risk-management">Risk Management</a></li>
      </ul>
    </li>
  
  <li id="nav4"><a href="/about-us">About Us</a></li>
  
  <li id="nav5"><a href="https://help.rocketgate.com/support/tickets/new">Contact Us</a></li>
  
  </ul>
  
  <div id="slogan">The fastest, most reliable transaction processing service available in the industry, guaranteed.</div>

{{ if eq .Page.CurrentSection.Title "Features" }}
{{- partial "subnav_features.html" -}}
{{ end }}

{{ if eq .Page.CurrentSection.Title "Payment-Processing-Services" }}
{{- partial "subnav_payment-processing-services.html" -}}
{{ end }}
  
  <div id="mission_control"><a href="https://my.rocketgate.com/mc/secure/index.cfm">Mission Control</a></div>

</div>

